<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pacientescovid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pacientes COVID"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityEliminarSintomas"></activity>
        <activity android:name=".ActivityAlteraSintomas" />
        <activity android:name=".ActivityAlteraDoentes" />
        <activity android:name=".ActivityEliminarDoente" />
        <activity android:name=".ActivityMostraSintomas" />
        <activity android:name=".ActivityMostraDoentes" />
        <activity android:name=".ActivityAdicionarSintomas" />
        <activity android:name=".ActivitySintomas" />
        <activity android:name=".ActivityAdicionarEstadoSaude" />
        <activity android:name=".ActivityEstadoSaude" />
        <activity android:name=".ActivityAdicionarDoente" />
        <activity android:name=".ActivityDoentes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PacientesContentProvider"
            android:authorities="com.example.pacientescovid"
            android:exported="false" />
    </application>

</manifest>